{% stylesheets 
    'bundles/vinogradarcompanies/css/header/light.css' filter='cssrewrite'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<div class="header hidden-xs">
    <a href="/" class="logo">
        vinogradar.kiev.ua
    </a>
    <div class="controls">
        <input id="search" class="form-control" type="search" placeholder="поиск" />
        <a id="catalog-button" class="btn btn-default" href="{{ path('vinogradar_companies_list') }}">
            каталог
        </a>
        <a href="{{ path('vinogradar_companies_create_company') }}" id="add-company" class="btn btn-default">
            <span class="btn-plus">+</span> компания
        </a>
    </div>
</div>
